
<div class="cms-preview cms-preview--article article">
  <medium-editor class="article__title" [(editorModel)]="article.title"
    [editorOptions]="{'disableReturn': true, 'toolbar': false}">
    <!-- [editorOptions]="{'disableReturn': true, 'toolbar': {'buttons': ['bold', 'italic', 'underline', 'h1', 'h2', 'h3']}}" -->
  </medium-editor>
  <medium-editor class="article__subtitle" [(editorModel)]="article.subtitle"
    [editorOptions]="{'disableReturn': true, 'toolbar': false}">
  </medium-editor>
  <input [ngModel]="article.publishDate|date:'dd MM y H:mm'"
         [locale]="'nl'"
         [mode]="'dropdown'"
         [theme]="'#222628'"
         [autoClose]="true"
         [(dateTimePicker)]="article.publishDate" readonly />

  <select name="category" [compareWith]="categoryById" *ngIf="article.category" [(ngModel)]="article.category">
    <option *ngFor="let category of categories" [ngValue]="category">
      {{ category.name }}
    </option>
  </select>

  <pre>{{article|json}}</pre>
</div>

<div class="cms-editor cms-editor--article editor">
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
