
.article {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &__media {
    width: 640px;
    height: 360px;
  }

  &__title {
    font-size: 2em;
  }
}

#snippets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.snippet {
  background: beige;
  padding: 20px;
}
