
<div class="cms-columns cms-columns--column">
  <div class="cms-header">
    <app-search [type]="'articles'" (searched)="redirectToSearch($event)"></app-search>

    <a routerLink="/cms/article/create" class="cms-button" >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
  </div>
  <div class="cms-columns__column scrollable--y">

    <div class="cms-loading" *ngIf="!articleService.articles.length">
      <div class="cms-loading__content">
        <span *ngIf="!articleService.articles.length && !articleService.loadingService.loading">Ai! Er zijn geen artikelen gevonden <i class="fa fa-meh-o" aria-hidden="true"></i></span>
        <span *ngIf="articleService.loadingService.loading">Artikelen worden opgehaald&hellip; <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></span>
      </div>
    </div>

    <table cellspacing="0" cellpadding="0" *ngIf="articleService.articles.length">
      <thead>
        <tr>
          <th>Status</th>
          <th>Partner</th>
          <th>Titel</th>
          <th>Slug</th>
          <th>Auteur</th>
          <th>Categorie</th>
          <th>Aangemaakt</th>
          <th>Aangepast</th>
          <th>Gepubliceerd</th>
          <th>Uitgelicht</th>
          <th>Te zien in lijsten</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articleService.articles">
          <td>
            <i class="fa fa-check-circle" aria-hidden="true" *ngIf="article.published && article.publishDate"></i>
            <i class="fa fa-clock-o" aria-hidden="true" *ngIf="!article.published || !article.publishDate"></i>
          </td>
          <td>
            <i class="fa fa-check-circle" *ngIf="article.isPartner"></i>
            <i class="fa fa-times-circle" *ngIf="!article.isPartner"></i>
          </td>
          <td>
            <a [routerLink]="['/cms/article/edit', article.id]">
              {{article.title}}
            </a>
          </td>
          <td>
            {{article.slug}}
          </td>
          <td *ngIf="article.author">
            {{article.author.firstName}} {{article.author.lastName}} <span *ngIf="article.author.username">({{article.author.username}})</span>
          </td>
          <td *ngIf="article.category[0]">
            {{article.category[0].name}}
          </td>
          <td>
            {{article.createdAt|date:'dd MMMM y H:mm'}}
          </td>
          <td>
            {{article.updatedAt|date:'dd MMMM y H:mm'}}
          </td>
          <td>
            {{article.publishDate|date:'dd MMMM y H:mm'}}
          </td>
          <td>
            <i class="fa fa-check-circle" *ngIf="article.featured"></i>
            <i class="fa fa-times-circle" *ngIf="!article.featured"></i>
          </td>
          <td>
            <i class="fa fa-check-circle" *ngIf="article.isListed"></i>
            <i class="fa fa-times-circle" *ngIf="!article.isListed"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="cms-footer">
    <app-pagination [route]="'/cms/article-list'" [routeParams]="{ 'q': query }" [service]="articleService.paginationService"></app-pagination>
  </div>
</div>
