
@import '../../../scss/settings';

.media-list-container {
  flex: 1;
  padding: 10px;
}

.media-list {
  padding: 5px;
	-webkit-column-count: 5;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 5;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 5;
	column-gap: 5px;
  column-fill: auto;
  transform: translate3d(0,0,0);

  &__item {
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    margin: 0 0 2px;

    &.active {
      outline: 1px solid $cms-highlight;
    }
  }

  &__info {
    color: #fff;
    font-size: .7em;
    font-weight: bold;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 10px 20px;
    background: $cms-background;
  }

}

.cms-columns__column {
  display: flex;
}


.cms-header,
.cms-footer {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  display: flex;
}

.cms-header {
  .cms__button {
    margin-left: auto;
    width: 200px;
  }
}

.cms-editor {
  width: 0;
  padding: 0;
  border-top: 1px solid $cms-inactive;
  border-bottom: 1px solid $cms-inactive;
  transform: translate3d(270px,0,0);
  transition: transform .2s ease-out;
  transition: width .2s ease-out;
  display: flex;
  flex-direction: column;

  &.active {
    width: 250px;
    padding: 16px;
    transform: translate3d(0,0,0);
  }

  .cms-tabs__content {
    flex: 1;
  }
}