
@import '../../../scss/settings';

.media-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;

  &__item {
    width: 20%;
    min-width: 20%;
  }

  &__info {
    color: #fff;
    font-size: .7em;
    font-weight: bold;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 10px 20px;
    background: $cms-background;
  }
}

.cms-header,
.cms-footer {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  display: flex;
}

.cms-header {
  .cms__button {
    margin-left: auto;
    width: 200px;
  }
}