
@import '../../../scss/settings';

.media-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  padding: 5px;

  &__item {
    width: calc(20% - 4px);
    padding: 0 5px 5px 0;
  }

  &__info {
    color: #fff;
    font-size: .7em;
    font-weight: bold;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 10px 20px;
    background: $cms-background;
  }
}

.cms-header,
.cms-footer {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  display: flex;
}