
<div class="cms-columns cms-columns--column">
  <div class="cms-header">
    <app-search [type]="'media'" (searched)="redirectToSearch($event)"></app-search>

    <label for="fileupload" class="cms__button cms__button--icon active" >
      <input id="fileupload" type="file" name="image" multiple hidden />
      <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload
    </label>
  </div>
  <div class="cms-columns__column">
    <div class="media-list-container scrollable--y">

      <div class="cms-loading" *ngIf="!mediaService.mediaObjects.length">
        <div class="cms-loading__content">
          Media word opgehaald&hellip; <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
        </div>
      </div>

      <div class="media-list" [ngClass]="{edit : mediaService.edit}" *ngIf="mediaService.mediaObjects.length">
        <div class="media-list__item"
             *ngFor="let media of mediaService.mediaObjects; let odd=odd; let even=even"
             [ngClass]="{ active: media.active }"
             (click)="mediaService.selectedMedia(media)">
          <app-media-resized [media]="media" [width]="640"></app-media-resized>
        </div>
      </div>
    </div>
    <div class="media-editor cms-editor">

      <div class="cms-tabs__content cms-tabs__content--unselected" *ngIf="!mediaService.media">
        Selecteer &eacute;&eacute;n of meerdere afbeeldingen.
      </div>

      <div class="cms-tabs__content" *ngIf="mediaService.media">
        <label class="cms__label">Naam</label>
        <input class="cms__input"
              [(ngModel)]="mediaService.media.name" />

        <label class="cms__label">Tags</label>
        <input class="cms__input"
              [(ngModel)]="mediaService.media.tags" />

        <label class="cms__label">Bron</label>
        <input class="cms__input"
              [(ngModel)]="mediaService.media.source" />

        <label class="cms__label">Bron (url)</label>
        <input class="cms__input"
              [(ngModel)]="mediaService.media.sourceLink" />

        <label class="cms__label">Copyright</label>
        <input class="cms__input"
              [(ngModel)]="mediaService.media.copyright" />

        <label class="cms__label">Alternatieve tekst</label>
        <input class="cms__input"
              [(ngModel)]="mediaService.media.altText" />

        <label class="cms__label">Omschrijving</label>
        <input class="cms__input"
              [(ngModel)]="mediaService.media.description" />
      </div>

      <div class="cms-editor-actions" *ngIf="mediaService.media">
        <button class="cms__button cms__button--remove" *ngIf="!mediaService.media.isUsed" (click)="mediaService.remove()">Verwijderen</button>
        <button class="cms__button active" (click)="mediaService.reset()">Annuleren</button>
        <button class="cms__button active" (click)="mediaService.save()">Opslaan</button>
      </div>
    </div>
  </div>
  <div class="cms-footer">
    <app-pagination [route]="'/cms/media-list'" [routeParams]="{ type: 'images', 'q': query }" [service]="mediaService.paginationService"></app-pagination>
  </div>
</div>
