
<div class="cms-columns cms-columns--column">
  <div class="cms-header">
    <app-search [type]="'media'" (searched)="redirectToSearch($event)"></app-search>

    <label for="fileupload" class="cms__button cms__button--icon active" >
      <input id="fileupload" type="file" name="image" multiple hidden />
      <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload
    </label>
  </div>
  <div class="cms-columns__column scrollable--y">
    <div class="media-list">
      <div class="media-list__item" *ngFor="let media of mediaService.mediaObjects; let odd=odd; let even=even" [ngClass]="{ odd: odd, even: even }" (click)="mediaService.selectedMedia(media)">
        <app-media-resized [media]="media" [width]="640"></app-media-resized>
        <div class="media-list__info" *ngIf="media.file.mediaName">{{media.file.mediaName}}</div>
      </div>
    </div>
  </div>
  <div class="cms-footer">
    <app-pagination [route]="'/cms/media-list'" [routeParams]="{ type: 'images', 'q': query }" [service]="mediaService.paginationService"></app-pagination>
  </div>
</div>
