
<div class="cms-columns cms-columns--column">
  <div class="cms-header">
    <app-search [type]="'articles'" (searched)="redirectToSearch($event)"></app-search>
  </div>
  <div class="cms-columns__column scrollable--y">

    <div class="cms-loading" *ngIf="!articleService.pages.length">
      <div class="cms-loading__content">
        De pagina's worden opgehaald. <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>
      </div>
    </div>

    <table cellspacing="0" cellpadding="0" *ngIf="articleService.pages.length">
      <thead>
        <tr>
          <th>Titel</th>
          <th>Slug</th>
          <th>Publiceer datum</th>
          <th>Depubliceer datum</th>
          <th>Partner?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let page of articleService.pages; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
          <td>
            <a [routerLink]="['/cms/article/edit', page.id]">
              {{page.title}}
            </a>
          </td>
          <td *ngIf="page.flatpageSlug">
            /{{page.flatpageSlug}}/
          </td>
          <td>
            {{page.publishDate|date:'dd MMMM y H:mm'}}
          </td>
          <td>
            {{page.expiryDate|date:'dd MMMM y H:mm'}}
          </td>
          <td>
            {{page.isPartner}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cms-footer">
    <app-pagination [route]="'/cms/page-list'" [service]="articleService.paginationService"></app-pagination>
  </div>
</div>
