
<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Titel</th>
      <th>Slug</th>
      <th>Publiceer datum</th>
      <th>Depubliceer datum</th>
      <th>Partner?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let page of articleService.pages; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
      <td>
        {{page.id}}
      </td>
      <td>
        <a [routerLink]="['/cms/article/edit', page.id]">
          {{page.title}}
        </a>
      </td>
      <td>
        {{page.flatpageSlug}}
      </td>
      <td>
        {{page.publishDate|date:'dd MMMM y H:mm'}}
      </td>
      <td>
        {{page.expiryDate|date:'dd MMMM y H:mm'}}
      </td>
      <td>
        {{page.isPartner}}
      </td>
    </tr>
  </tbody>
</table>