
@import '../../../scss/settings';

$cms-toolbar-background:          $cms-background !default;

.cms-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  background: $cms-toolbar-background;
}