
<div class="cms-columns cms-columns--column">
  <div class="cms-columns__column scrollable--y">
    <div class="cms-preview cms-preview--block block">

      <div class="cms__outline" data-type="Titel" *ngIf="blockService.block.showTitle">
        <medium-editor class="article__title" [(editorModel)]="blockService.block.title"
          [editorOptions]="{'disableReturn': true, 'toolbar': false}">
        </medium-editor>
      </div>

      <app-snippets [snippets]="blockService.block.snippetsJson" [snippetService]="blockService.snippetService"></app-snippets>
    </div>
  </div>
  <div class="cms-footer cms-footer--fill">
    <app-snippet-picker [snippets]="blockService.block.snippetsJson" [snippetService]="blockService.snippetService"></app-snippet-picker>
  </div>
</div>

<div class="cms-advanced">
  <pre>{{blockService.block|json}}</pre>
</div>

<div class="cms-editor">
  <div id="cms-tabs">
    <div class="cms-tabs__content">
      <label class="cms__label">Titel tonen?</label>
      <button class="cms-button cms-button--icon" [ngClass]="{'active': blockService.block.showTitle}" (click)="blockService.block.showTitle = !blockService.block.showTitle">
        <span *ngIf="blockService.block.showTitle"><i class="fa fa-check-circle" aria-hidden="true"></i> Ja</span>
        <span *ngIf="!blockService.block.showTitle"><i class="fa fa-clock-o" aria-hidden="true"></i> Nee</span>
      </button>

      <label class="cms__label">Status</label>
      <button class="cms-button cms-button--icon" [ngClass]="{'active': blockService.block.published}" (click)="blockService.block.published = !blockService.block.published">
        <span *ngIf="blockService.block.published"><i class="fa fa-check-circle" aria-hidden="true"></i> Gepubliceerd</span>
        <span *ngIf="!blockService.block.published"><i class="fa fa-clock-o" aria-hidden="true"></i> Concept</span>
      </button>

      <label class="cms__label">Publiceer datum</label>
      <input class="cms__input"
              dateTimePicker
              (onChange)="blockService.updateDateTime('publishDate', $event)"
              [value]="blockService.block.publishDate | date:'dd MM y H:mm'"
              [locale]="'nl'"
              [viewFormat]="'DD MM YYYY HH:mm'"
              [mode]="'dropdown'" readonly>

      <label class="cms__label">Depubliceer datum</label>
      <input class="cms__input"
              dateTimePicker
              (onChange)="blockService.updateDateTime('expiryDate', $event)"
              [value]="blockService.block.expiryDate | date:'dd MM y H:mm'"
              [locale]="'nl'"
              [viewFormat]="'DD MM YYYY HH:mm'"
              [mode]="'dropdown'" readonly>

      <hr class="cms__hr">

      <label class="cms__label">Tags</label>
      <span class="cms__description">
        Een door komma's gescheiden lijst van woorden.<br><br>
        <strong>[tag]</strong> Het blok is te zien op een artikel met deze tag.<br><br>
        <strong>preset:all</strong> Het blok is te zien op alle pagina's.<br><br>
        <strong>preset:frontpage</strong> Het blok is alleen te zien op de voorpagina.<br><br>
        <strong>preset:article-detail</strong> Het blok is te zien op alle artikelen.<br><br>
        <strong>preset:article-detail:[slug]</strong> Het blok is alleen te zien op een artikel met deze slug.
      </span>
      <input class="cms__input" type="text" [(ngModel)]="blockService.block.tags" name="tags" />

      <hr class="cms__hr">

      <label class="cms__label">Area</label>
      <select class="cms__select" name="category" [compareWith]="objectById" [(ngModel)]="blockService.block.area">
        <option *ngFor="let area of areaService.areas" [ngValue]="area">
          {{ area.name }}
        </option>
      </select>
    </div>

    <div class="cms-editor-actions">
      <button class="cms-button cms-button--remove" (click)="remove = !remove" *ngIf="!remove">Verwijderen</button>
      <span class="cms__description" *ngIf="remove"><strong>Weet je het zeker?</strong></span>
      <div class="cms-group" *ngIf="remove">
        <button class="cms-group__item cms-button cms-button--cancel" (click)="remove = false">Annuleren</button>
        <button class="cms-group__item cms-button cms-button--remove" (click)="destroy()" *ngIf="blockService.block.id">Ja</button>
      </div>
      <button class="cms-button active" (click)="save()">Opslaan</button>
      <button class="cms-button active" (click)="save(true)">Opslaan en opnieuw bewerken</button>
    </div>
  </div>
</div>
