
.cms-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;

  .fa {
    font-size: 1.5em;

    &-spinner {
      color: $cms-highlight;
    }

    &-meh-o {
      color: #aaa;
    }
  }
}
