
.cms__button {
  background: none;
  color: #aaa;
  text-align: center;
  border: 1px solid $cms-inactive;
  padding: 5px 0;
  font-size: 80%;
  border-radius: 3px;
  width: 100%;
  position: relative;
  cursor: pointer;

  &.active {
    border-color: $cms-highlight;
  }

  &:hover {
    border-color: $cms-highlight;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &--icon {
    i {
      position: absolute;

      &.fa-chevron-right,
      &.fa-chevron-left {
        top: 9px;
        font-size: 70%;
      }
      &.fa-chevron-left {
        left: 12px;
      }
      &.fa-circle,
      &.fa-check,
      &.fa-clock-o,
      &.fa-check-circle,
      &.fa-circle-o-notch,
      &.fa-close,
      &.fa-files-o {
        top: 7px;
        left: 12px;
      }
      &.fa-chevron-right {
        left: auto;
        right: 12px;
      }
      &.fa-check-circle,
      &.fa-check {
        color: $cms-highlight;
      }
    }
  }
}