

@import './settings';

$cms-preview--article-width:           640px !default;
$cms-preview--page-width:              970px !default;
$cms-preview--block-width:             300px !default;
$cms-preview--grid-width:              960px !default;
$cms-preview--grid-height:             480px !default;

.cms-preview {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 30px auto;

  &--article {
    width: $cms-preview--article-width;
  }

  &--page {
    width: $cms-preview--page-width;
  }

  &--block {
    width: $cms-preview--block-width;
  }

  &--grid {
    width: $cms-preview--grid-width;
    max-width: $cms-preview--grid-width;
    min-width: $cms-preview--grid-width;
    height: $cms-preview--grid-height;
  }
}
