
.cms {

  &__outline {
    outline: 1px solid transparent;
    outline-style: inset;

    &:hover {
      outline: 1px solid $cms-highlight;
    }
  }
}

.cms-group {
  display: flex;

  &__item {
    flex: 1;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}