
.cms {

  &__outline {
    outline: 1px solid transparent;
    outline-style: inset;
    position: relative;

    &:hover {
      outline: 1px solid $cms-highlight;

      &:before {
        font-size: 10px;
        line-height: 14px;
        font-family: 'Montserrat';
        content: attr(data-type);
        color: #fff;
        position: absolute;
        background: $cms-highlight;
        padding: 3px 5px;
        height: 20px;
        box-sizing: border-box;
        top: -20px;
        left: -1px;
        border-radius: 3px 3px 0 0;
      }
    }
  }
}

.cms-group {
  display: flex;

  &__item {
    flex: 1;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}


.ui-state-highlight {
  height: 3em;
  line-height: 3em;
  border: none;
  outline: 1px dashed $cms-highlight;
  background: none;
}