
.pagination {

  li {
  }

  &__item {
    font-size: .7em;
    font-weight: bold;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid $cms-inactive;
    border-radius: 2px;
    display: block;
    color: #fff;

    &.active {
      border: 1px solid $cms-highlight;
      background: $cms-highlight;
      color: #fff;
    }
  }

  &__link {
    color: $cms-highlight;

    &:hover {
      border: 1px solid $cms-highlight;
      background: $cms-highlight;
      color: #fff;
    }
  }
}