
.snippets {
  @extend %list-reset;
  min-height: 3em;

  &.empty {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
  }
}

.snippet {
  margin-bottom: 30px;
}

.snippet__container {
  .snippets {
    display: flex;
  }

  .snippet {
    margin-bottom: 0;
    flex: 1;
    max-width: 50%;
  }
}

.snippet-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &__element {
    height: 250px;
  }
}