
.cms-editor {
  background: $cms-background;
  max-width: 250px;
  width: 100%;
  padding: 16px;
  overflow: hidden;
}

.cms-header,
.cms-footer {
  background: $cms-background;
}

.cms-editor-actions {
  .cms__button {
    margin-top: 5px;
  }
}