
#snippets {
  @extend %list-reset;
  min-height: 3em;

  &.empty {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
  }
}

.snippet-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}